:root {
    --border-color: #000000;
}
[data-theme="dark"] {
    --border-color: #ffffff;
}

#head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: var(--background-color);
    padding: 0 10px 10px;
    z-index: 100;
}
.header-right {
    margin-top: 15px;
    margin-right: 20px;
}
#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 0 10px 10px;
    background-color: var(--background-color);
}
#search-results {
    position: fixed;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    overflow-x: hidden;
    min-width: 100%;
}
#main {
    margin-top: 180px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.metrix-div {
    width: calc(50% - 30px);
    max-width: 600px;
    min-width: 300px;
    min-height: 300px;
    margin: 0 20px 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
}

@media (max-width: 1200px) {
    .metrix-div {
        width: 100%;
    }
    #main {
        flex-direction: row;
        padding-top: 30px;
    }
}

#popup {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background-color: var(--background-color);
    z-index: 1000;
    border: 1px solid var(--border-color);
    padding: 20px;
    overflow-y: scroll;
}
.popup-toggle {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--link-color);
    font-size: 16px;
    padding: 0;
}
@media (max-width: 600px) {
    #popup {
        width: 90%;
        height: 80%;
        top: 5%;
        left: 0;
        right: 0;
        bottom: 10%;
        border-left-color: var(--background-color);
        border-right-color: var(--background-color);
        overflow-x: visible;
        padding-right: 30px;
    }
}
